
debug
logs/
portal.exe
*.exe
*.exe~
.vscode/launch.json
.vscode/tasks.json
authmac
.DS_Store
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/tasks.json
.vscode/tasks.json
.vscode/tasks.json
.vscode/tasks.json
